.form {
  width: 500px;
}

.container {
  background-image: url('https://ibb.co/LSmrz7j');
  padding: 2.5% 20%;
}

* {
  text-align: center;
}

.logo {
  margin: auto;
}

.jumbotron {
  margin: 100px auto;
  max-width: 50%;
  text-align: center;
}

.card {
  width: 18rem;
  margin: 100px auto;
}

.landpage-image {
  background: url(image/bg.jpeg) no-repeat center center;
  height: 100vh;
  background-size: cover;
  /* padding: 7% 10%; */
}

h1 {
  font-size: 2.5rem;
}

/* @media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
} */
/* xs < 768 */
/*@media screen and (max-width: 767px) {
  landpage-image {
    font-size: 0.9em;
  }
}

/* sm */
/* @media screen and (min-width: 768px) {
  landpage-image {
    font-size: 1em;
  }
} */

/* md */
/* @media screen and (min-width: 992px) {
  landpage-image {
    font-size: 1.2em;
  }
} */

/* lg */
/* @media screen and (min-width: 1200px) {
  landpage-image {
    font-size: 1.3em;
  }
} */
